*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* 
  # Definição de váriaveis. Usa as variáveis e depois troca só em um local. 
  # Sintaxe criaação: --nome_variavel: valor; 
  # (Igual colocaria ao definir em um elemento a mesma propriedade)
  */
  --ff-main: 'Epilogue', sans-serif;

  /* A escolha da corprincipal */
  --hue: 250; 
  --bg-main: hsl(var(--hue), 22%, 20%); 
  --tc-main: hsl(var(--hue), 0%,100%); 
  --tc-secondary: hsl(var(--hue), 50%, 80%);
}

body {
  font-size: 1.6rem;
  /* 
  # Uso da variável criada para a fonte principal. 
  # sintaaxe: propriedade: var(--nome_variavel);
  */
  font-family: var(--ff-main);
  background-color: var(--bg-main);
  color: var(--tc-main);
}

.page {
  margin: 0 auto;
  max-width: 80%;
}

header{
  text-align: center;
  margin: 10.5rem auto 8rem;
}

header p {
  color: var(--tc-secondary);
  letter-spacing: 3px;
  line-height: 3.2rem;
  /* text-transform: uppercase; */
}

header h1 {
  margin-top: 1.7rem;
  font-size: 4rem;
  line-height: 4.8rem;
}

p
, span {
  font-weight: 400;
}

h1 
, h2 {
  font-weight: 800;
}